<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to "Golblog", root_path %>
      by <a href="http://www.hellowilliam.com">William Huang</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
